#tv_show {
 	background-color: #f0ad4e;
 }

#movie {
	background-color: #d9534f;
}

#movie.darken:hover {
	background-color: red;
}

/*#new_search2 {
	display: none !important;
}*/
/*
#new_search3 {
	display: none !important;
}*/
