#welcome
{
	margin-left: 50px;
}

#movie {
	background-color: #e57373;
	width: 150px;
}

#movie:hover {
	background-color: #ff5252;
}

#tv_show {
 	background-color: #ffa000;
 	width: 150px;	
}

#tv_show:hover {
 	background-color: #ff6f00;
}

#tvresult {
	height: 80px;
 	background-color: #039be5;
 	font-size: 14px;
 	width: 70%;
}

#tvresult:hover {
	background-color: #1976d2;
	height: 150px;

}

.searchsection {
	text-align: center;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
}

#new_search1 {
	color: black;
	margin-top: 20px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#search_btn3:hover {
	background-color: #1976d2 !important;
}

#wrap {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
}

.card-title {
	text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.btn, .btn-large {
    background-color: #26a69a;
    color: #fff;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-out 0s;
    width: 44%;
}