#nav {
    background-color: #e57373;
    padding: 0;
    margin: 0px auto;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1001;
    border-bottom: 1px solid white;
}

#title {
	font-size: 40px;
    color: white;
    position: absolute;
    width: 100%;
    top: 0px;
    text-align: center;
    margin: auto;
    font-weight: 500;
    letter-spacing: 0.7px;
}

#nav:hover {
	background-color: #ffa000;
}

#welcome {
    margin-top: 30px;
    color: #484848;
    font-weight: 200;
    font-size: 18px;
}

#movie {
	background-color: #e57373;
	width: 150px;
}

#movie:hover {
	background-color: #ff5252;
}

#tv_show {
 	background-color: #ffa000;
 	width: 150px;	
}

#tv_show:hover {
 	background-color: #ff6f00;
}

#tvresult {
	height: 80px;
 	background-color: #039be5;
 	font-size: 14px;
 	width: 70%;
}

#tvresult:hover {
	background-color: #1976d2;
	height: 150px;

}

.searchsection {
	text-align: center;
	margin-top: 180px;
	margin-left: auto;
	margin-right: auto;
}

#new_search1 {
	color: black;
	margin-top: 20px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#search_btn3 {
	width: 150px;
}

#search_btn3:hover {
	background-color: #1976d2 !important;
}

#wrap {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
}

.card-title {
	text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.btn, .btn-large {
    background-color: #26a69a;
    color: #fff;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-out 0s;
    width: 44%;
}

.searchfiled {
	display: none;
}

.members {
	text-align: center;
    height: 100px;
	width: 100%;
    padding: 0;
    margin: 0px auto;
    overflow: hidden;
}