<!DOCTYPE html>
<html>
<head>

  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> TrackStream </title>
    <link rel="stylesheet" type="text/css" href="/_css/style.css">
    <script type="text/javascript" src="https://stratus.soundcloud.com/stratus.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Nothing+You+Could+Do" rel="stylesheet">

</head>
<body>
    <div class="container">
        <!-- site title -->
        <div class="section" id="title">
            <h2> TrackStream </h2>
        </div>

        <!-- search -->
        <div class="section">
            <!-- welcome text -->
            <div class="col s12"><span class="flow-text" id="welcome">
                Welcome! Type to search on TrackStream
            </span></div>

            <div class="row valign-wrapper">

                <!-- search field -->
<!--                 <form class="input-field col s10 white-text" action="/tunefind_movie" method="GET">
                    <input placeholder="Search By Season" id="new_search1" type="text" class="validate"><br>
                   
                    <input placeholder="Search By Episode" id="new_search3" type="text" class="validate">
                    <input type="submit" id="submit" value="Search"/>
                </form> -->

                <!-- submit button -->
<!--                <div class="col s2 right-align">
                <div class="row"><br><br>
                    <button class="btn waves-effect waves-light blue-grey darken-1" type="submit" name="action" id="search_btn1">
                        Movie
                    </button>
                </div>

                <div class="row">
                    <button class="btn waves-effect waves-light blue-grey darken-1" type="submit" name="action" id="search_btn3">
                        Show
                    </button>
                </div><br>
                </div> -->
                 
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-success btn-filter" data-target="pagado">Movie</button>
                                <button type="button" class="btn btn-warning btn-filter" data-target="pendiente">Show</button>

                            </div>
                        </div>
                        <div class="table-container">
                            <table class="table table-filter">
                                <tbody>
                                    
                                    <tr data-status="pendiente">
                                        <td>  <input placeholder="Search By Season" id="new_search1" type="text" class="validate"><br>
                   
                    <input placeholder="Search By Episode" id="new_search3" type="text" class="validate">
                                            
                                        </td>
                                        <td>
               
                                        </td>

                                        </td>
                                    </tr>
                                    <tr data-status="cancelado">
                                        <td>
     
                                        </td>
                                        <td>
            
                                        </td>
                                        <td>
                                          
                                        </td>
                                    </tr>
                                  
                               
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            </div>
        </div>
    </div>

    <!-- result and playlist -->
    <div class="section" id="wrap">
        <!-- search results -->
        <div class="row">
            <div class="col s6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{{ tunefind_results }}</span>
                        <div class="section" id="results"></div>
                    </div>
                </div>
            </div>

            <!-- playlist -->
            
        </div>
    </div>

    <script type="text/javascript" src="static/_js/main.js"> </script>
    <script type="text/javascript" src="static/_js/soundcloud.js"> </script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</body>
</html>