<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="static/_css/materialize.min.css"  media="screen,projection">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type="text/css" rel="stylesheet" href="static/_css/style.css">
        <title>TrackStream</title>
    </head>
    <body>
        <div class="container">
            <div class="section" id="title">
                <h2>TrackStream</h2>
            </div>

            <div class="col s12">
                <span class="flow-text" id="welcome">
                    Welcome! Type to search on TrackStream
                </span>
            </div>

            <div class = "searchsection">
                <div>
                    <button class="btn waves-effect waves-light" id ="movie" type="submit" name="action">
                        Movie
                    </button>
                
                    <button class="btn waves-effect waves-light " id ="tv_show" type="submit" name="action">
                        TV Show
                    </button>

                    <!-- TEST FORM -->
<!--                     <form class="input-field col s10 white-text" id="mainform2" action="" method="POST">
                        <input placeholder="Season 1" id="season1" value="season1" type="submit" class="validate" name="selectedseason">
                        <input placeholder="Season 2" id="season2" value="season2" type="submit" class="validate" name="selectedseason">
                        <br>
                    </form>                    
 -->
<!--                     {{{ form }}} -->
                </div>
                
                <!-- search field -->
                <form class="input-field col s10 white-text" id="mainform" method="POST" action={{{ searchAction }}}>
                    <input placeholder="Search By Title" id="new_search1" type="text" class="validate" name="show_or_movie_name">
                        <br>
                </form>
                
                <button class="btn waves-effect waves-light blue accent-2" type="submit" name="action" id="search_btn3" form="mainform">
                    Search
                </button>
            </div>
        </div>

        <!-- result and playlist -->
        <div class="section" id="wrap">
            <!-- search results -->
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Search Results</span>
                            {{{ tunefind_results }}}
                            {{{ optionsForm }}}                            
                        <div class="section" id="results"></div>
                    </div>
                </div>
            </div>
            <!-- playlist -->     
            </div>
        </div>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="static/_js/materialize.min.js"></script>
        <script type="text/javascript" src="static/_js/main.js"> </script>
    </body>
</html>